.question-background {
  height: 100vh;
  background-color: #d6cbbd;
  display: block;
}

.question-box {
  width: 90vw;
  height: 60vh;
  background-color: rgb(240, 240, 240);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  border-radius: 4vh;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0vh 2vh 3vh 0vh rgba(0, 0, 0, 0.2);
  animation: biggerBox 0.5s ease-in-out 0s 1 normal forwards;
}
.question-container {
  opacity: 0;
  justify-content: center;
  animation: opacity0to1 0.5s ease-in-out 0.5s 1 normal forwards;
}
.question-title-container {
  display: flex;
  justify-content: center;
}
.question-title {
  color: black;
  font-size: 4vh;
  text-align: center;
  margin-bottom: 5vh;
}
.question-paragraph {
  color: black;
  font-size: 2vh;
  text-align: center;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  word-break: keep-all;
}

.answers-container {
  text-align: center;
}
.button-answer {
  width: 90%;
  height: 10vh;
  margin-bottom: 3vh;

  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border-width: 0px;
  background-color: rgb(240, 240, 240);
  border-color: #8b0029;
  box-shadow: -0.6vh -0.6vh 1.4vh rgba(255, 255, 255, 0.7),
    -0.6vh -0.6vh 1vh rgba(255, 255, 255, 0.5),
    0.6vh 0.6vh 0.8vh rgba(255, 255, 255, 0.075),
    0.6vh 0.6vh 1vh rgba(0, 0, 0, 0.15);
  font-size: 1.8vh;
  color: #8b0029;
  font-weight: 700;
  word-break: keep-all;
  transition: top ease 0.5s;
  cursor: pointer;
}
.button-answer:active {
  box-shadow: inset -0.2vh -0.2vh 0.6vh rgba(255, 255, 255, 0.7),
    inset -0.2vh -0.2vh 0.4vh rgba(255, 255, 255, 0.5),
    inset 0.2vh 0.2vh 0.2vh rgba(255, 255, 255, 0.075),
    inset 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.15);
}

.result-button-to-home {
  width: 20vw;
  height: 5vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1vh;

  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  border-width: 0px;
  background-color: #8b0029;
  box-shadow: 0vh 0.5vh 2vh 0vh #8b002a93;
  font-size: 1.5vh;
  color: white;
  font-weight: 700;
  transition: top ease 0.5s;
  cursor: pointer;
}
.result-button-to-home:active {
  background-color: #680120;
}

@keyframes biggerBox {
  from {
    width: 60vw;
    height: 10vh;
  }
  to {
    width: 90vw;
    height: 60vh;
  }
}

@keyframes opacity0to1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
